body {
    background-color: #f08913;
    color: whitesmoke;
}

img{
    width:200px;
    height:auto;
}

p{
    font-family:Arial, Helvetica, sans-serif;
font-size: 0.9em;
font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
}



.subparrafo{
    font-size:1.2em;
    color: rgb(0, 0, 0);
}

final{

}
